$accordion-header-color: #666 !default;
//$accordion-header-font-weight: bold !default;
$accordion-header-background-color: mix($base-light-color, $neutral-light-color, 30%) !default;
$accordion-header-over-background-color: mix($base-light-color, #fff, 30%) !default;
$accordion-header-tool-size: 16px !default;
$accordion-background-color: #fff !default;
$accordion-padding: 5px 5px 0 !default;
$accordion-header-padding: 8px 10px !default;
$accordion-item-margin: 0 0 5px !default;
$accordion-tool-background-image: 'tools/tool-sprites-dark' !default;
