$tree-elbow-width: 18px !default;
$tree-icon-width: 18px !default;

$tree-elbow-spacing: 2px !default;
$tree-checkbox-spacing: 4px !default;
$tree-icon-spacing: 4px !default;
$tree-cell-inner-padding:
    top($grid-cell-inner-padding)
    right($grid-cell-inner-padding)
    bottom($grid-cell-inner-padding)
    6px !default;
