$button-icon-spacing: 4px !default;

$button-small-border-radius: 2px !default;

$button-small-icon-size: 18px !default;

$button-small-font-size: 12px !default;
//$button-small-font-weight: bold !default;
$button-small-padding: 3px !default;
$button-small-text-padding: 4px !default;
$button-medium-font-size: 14px !default;
//$button-medium-font-weight: bold !default;
$button-medium-text-padding: 8px !default;
$button-large-font-size: 16px !default;
//$button-large-font-weight: bold !default;
$button-large-text-padding: 10px !default;

$button-default-base-color: $base-highlight-color !default;
$button-default-base-color-over: mix(#000, $button-default-base-color, 8%) !default;
$button-default-base-color-pressed: mix(#000, $button-default-base-color, 25%) !default;
$button-default-border-color: $base-dark-color !default;

$button-default-color: #333  !default; // #fff !default;

$button-include-ui-menu-arrows: true !default;
$button-include-ui-split-arrows: true !default;

$button-small-arrow-width: 18px !default;
$button-small-arrow-height: 18px !default;
$button-medium-arrow-width: 30px !default;
$button-medium-arrow-height: 26px !default;
$button-large-arrow-width: 36px !default;
$button-large-arrow-height: 32px !default;

$button-small-split-width: 21px !default;
$button-small-split-height: 18px !default;
$button-medium-split-width: 32px !default;
$button-medium-split-height: 28px !default;
$button-large-split-width: 38px !default;
$button-large-split-height: 34px !default;

/*
$button-toolbar-border-color: $selected-border-color !default; / / $neutral-color !default; /

$button-toolbar-background-color:  $neutral-light-color !default;
$button-toolbar-background-color: transparent !default;
 $button-toolbar-background-color-over: mix(#000, $button-toolbar-background-color, 4%) !default;
$button-toolbar-background-color-pressed: mix(#000, $button-toolbar-background-color, 8%) !default;
*/
$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: mix(#000, $neutral-light-color, 4%) !default;
$button-toolbar-background-color-pressed: mix(#000, $neutral-light-color, 8%) !default;


$button-toolbar-border-color: black !default;
$button-toolbar-border-color-over:  $selected-border-color !default; /* adjust-color($base-color, $hue: 0.084deg, $saturation: -9.891%, $lightness: -18.039%) !default; */
$button-toolbar-border-color-focus: $button-toolbar-border-color-over !default;
$button-toolbar-border-color-pressed: adjust-color($base-color, $hue: 0.721deg, $saturation: -17.014%, $lightness: -21.765%) !default;
/* $button-toolbar-border-color-disabled: $button-default-border-color-disabled !default; */

/*$button-toolbar-background-color: transparent !default;
 $button-toolbar-background-color-over: adjust-color($base-color, $hue: -5deg, $saturation: 44.444%, $lightness: 8.824%) !default;
$button-toolbar-background-color-over: adjust-color($base-color, $hue: -1.138deg, $saturation: -11.47%, $lightness: -5.353%) !default;*/
$button-toolbar-background-color-focus: $button-toolbar-background-color-over !default;
$button-toolbar-background-color-pressed: adjust-color($base-color, $hue: -1.138deg, $saturation: -11.47%, $lightness: -2.353%) !default;
$button-toolbar-background-color-disabled: transparent !default;


$button-toolbar-color: #666 !default;

$button-toolbar-plain-border-color: transparent !default;
$button-toolbar-plain-background-color: transparent !default;
