$window-base-color: #636f80 !default; /* $base-dark-color !default; */ /* много #48474d !default; */ /* $base-highlight-color !default;*/
$window-body-border-width: 1px !default;
$window-border-width: $panel-frame-border-width !default;
$window-header-border-width: $window-border-width !default;
$window-include-border-management-rules: true !default;