$panel-header-font-family: arial, helvetica, verdana, sans-serif !default;
$panel-header-color: #f8f9fb !default; /* #333333 !default; */
$panel-header-text-transform: none !default;
$panel-header-line-height: 15px !default;
$panel-header-text-padding: 1px 0 0 !default;
$panel-header-padding: 4px 4px 5px !default; /*9px 9px 10px !default;*/
$panel-border-width: 1px !default;
$panel-header-border-width: 1px !default;
$panel-body-border-width: 1px !default;
$panel-frame-border-width: 3px !default; /* 4px !default; */
$panel-frame-header-border-width: $panel-frame-border-width !default;
$panel-tool-spacing: 6px !default;
$panel-frame-padding: 0 !default;

$panel-frame-header-padding: 5px !default;

$panel-header-icon-width: 16px !default;
$panel-header-icon-height: 16px !default;
$panel-header-icon-spacing: 6px !default;

// panel-light vars
$panel-light-header-font-family: $font-family !default;
$panel-light-header-font-size: $font-size !default;
$panel-light-header-font-weight: bold !default;
$panel-light-header-color: #666 !default;
$panel-light-header-background-color: mix($base-light-color, $neutral-light-color, 30%) !default;
$panel-light-header-text-transform: none !default;
$panel-light-body-border-color: $panel-light-header-background-color !default;
$panel-light-tool-background-image: 'tools/tool-sprites-dark' !default;

$panel-light-frame-border-color: $panel-light-header-background-color !default;
$panel-include-border-management-rules: true !default;

/**
 * @var {boolean}
 * True to include the "light" panel UI
 */
$include-panel-light-ui: $include-default-uis !default;

/**
 * @var {boolean}
 * True to include the "light-framed" panel UI
 */
$include-panel-light-framed-ui: $include-default-uis !default;
