//Neptune cells
$grid-cell-inner-padding: 5px 10px 4px !default;
$grid-row-cell-border-color: #ededed !default;
$grid-row-cell-background-color: #fff !default;
$grid-row-cell-font-size: $font-size;

//$grid-row-cell-focus-border-style: solid !default;

// special cells
$grid-row-line-height-increment: 16px;
$grid-cell-special-background-color: null !default;
$grid-cell-special-background-gradient: null !default;
$grid-cell-special-border-width: 1px 0 !default;

//row cell over
$grid-row-cell-over-background-color: $over-background-color !default; /* mix(#fff, $base-light-color, 65%) !default;*/
$grid-row-cell-over-border-style: solid !default;
$grid-row-cell-over-border-color: $grid-row-cell-over-background-color !default;

//row cell selected
$grid-row-cell-selected-background-color: $selected-background-color !default; /* mix(#fff, $base-light-color, 25%) !default; */

$grid-row-cell-selected-border-style: dotted !default;
$grid-row-cell-selected-border-color: $selected-border-color !default; /* $grid-row-cell-selected-background-color !default;*/

$grid-row-cell-focus-background-color: $grid-row-cell-over-background-color !default;
$grid-row-cell-focus-border-color: $selected-border-color !default; /*  $grid-row-cell-focus-background-color !default;*/

//row cell focus

$grid-body-border-color:  #c0c0c0 !default;

$grid-no-row-lines-show-focus-border: true !default;

/* from classic  */
/*
$grid-row-cell-over-border-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -6.667%) !default;
$grid-row-cell-over-background-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: 0.392%) !default;

$grid-row-cell-selected-border-style: dotted !default;
$grid-row-cell-selected-border-color:  $selected-border-color !default;  /* adjust-color($base-color, $hue: 6.952deg, $saturation: 5.848%, $lightness: -6.471%) !default;
$grid-row-cell-selected-background-color: adjust-color($base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: 7.843%) !default;

$grid-row-cell-focus-border-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: -66%) !default;
$grid-row-cell-focus-background-color: adjust-color($neutral-color, $hue: 0deg, $saturation: 0%, $lightness: 0.392%) !default;

$grid-no-row-lines-show-focus-border: true !default;
*/
