/*
* http://docs.sencha.com/extjs/4.2.0/#!/guide/theming
* cmd: sencha package build
* test color : #19fa11 !default;
*/

/* The primary color variable from which most elements derive their color scheme. Defaults to #1985D0*/
$color:   #333333 !default;   /* default font color */

/* The font-family to be used throughout the theme. Defaults to "Helvetica Neue" */
$font-family: helvetica, arial, verdana, sans-serif !default;
$font-size: 13px !default;



/* */

$base-color:  #dde0e5 !default; /* #dde0e5 !default; */ /* panel header & border color */
$base-highlight-color: mix(#fff, $base-color, 15%) !default;
$base-light-color: mix(#fff, $base-color, 65%) !default;
$base-dark-color: mix(#000, $base-color, 14%) !default;

/* Color used for the neutral 'ui' for Toolbars and Tabbars. Defaults to #e0e0e0 (white-gray) */
$neutral-color:   #cccccc !default;   /* grid header, panel BG, progress , menu border */
$neutral-light-color: mix(#fff, $neutral-color, 68%) !default;
$neutral-dark-color: mix(#000, $neutral-color, 22%) !default;

$error-color: #cf4c35 !default;
$confirmation-color: #73b51e !default;
$error-light-color: mix(#fff, $error-color, 20%) !default;
$confirmation-light-color: mix(#fff, $confirmation-color, 35%) !default;

$body-background-color:  #ebebeb !default; /* $neutral-light-color !default; */

$selected-border-color: #8dbec9 !default; /* цвет голубой рамки */
$selected-background-color: #e2ebf2 !default; /* цвет голубой рамки */
$over-background-color: #edf4fa !default; /* цвет фона при наведении */


$include-default-uis: true !default;
