$progress-background-color: $neutral-light-color !default;
//$progress-bar-background-color: mix(#fff, $base-light-color, 25%) !default;
$progress-bar-background-color: $selected-border-color !default;
$progress-border-width: 0 !default;
$progress-text-color-front: #fff !default;
$progress-text-color-back: #666 !default;

$progress-text-font-weight: normal !default;